<div class="row">
    <h1 id="educacion">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 ">
        <ul> 
            <li> <h1>Argentina Programa </h1>  <h3> (2021-2022)</h3>
                <p>Cursé la segunda edicion de #YoProgramo, con el objetivo de ser Programodor Full Stack Jr.  </p>
            
               </li>
               <li> <h1>Diseñadora de Indumentaria </h1>  <h3> (2013-2015)</h3>
                <p>Curse la Tecnicatura en Diseño de Indumenaria Moda y textil, en el 
                    Instituto Superior de Diseño y Arte. (Universidad de Morón)</p>
            
               </li>
               <li> <h1>Administración y Gestión de Empresas  </h1>  <h3> (2011)</h3>
                <p>Titulo obtenido en el nivel de Educación Secundario, Intituto Jose Hernandez. </p>
            
               </li>


        </ul>
    </div>


</div>