<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">  
        <img src="../../../assets/fotoperfil.jpg"  alt="fotodeperfil" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        
        <p id="soy"> Full Stack Developer Jr</p>


    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"> 
        <span> 
            <h1> Acerca de mi </h1>
            <p> Soy de Cordoba, Argentina. Me considero una persona proactiva, organizada, responsable 
                capaz de resolver cualquier problema de manera creativa, buscando
            aprender y crecer en lo laboral, como personal. </p>
    </span>
    </div>
    





</div>