<div class="row">
  <h1>Hard & Soft skills </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]="false"
    [title]="'EQUIPO'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'CSS'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'JS'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'GIT HUB'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'INGLES'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'wheat'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
   </div>
</div>