<div class="row">
    <h1 id="titulodeexpe">Experiencia</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 ">
        <ul> 
            <li> <h1>#YoProgramo </h1>  <h3> (2021-Actualidad)</h3>
                <p>Genere mi propio porfolio web, utilizando arquitectura distribuida, donde contiene un diseño
                    de interfaz de usuario (front end) que muestra la informacion, mi base de dato y cuenta 
                    con las APIs mecesarias para proveer a través de internet la información.
                </p>
            
               </li>
               <li> <h1>Creación de Contenidos </h1>  <h3> (2020-2021)</h3>
                <p>Diseñe publicaciones para redes sociales, como tambien la edicion de anuncios audivisuales, 
                    para marca de ropa masculina. </p>
            
               </li>
               <li> <h1>Diseñadora de Indumentaria </h1>  <h3> (2014-Actualidad)</h3>
                <p>Confecciono prendas y productos exclusivos, bajo mi nombre o para empresas.
                    Trabajos de Alta costura, Lenceria e Indumentaria Casual.
                Fichas tecnicas, estampas, bocetos y más. Todo mediante Illustrator y Photoshop </p>
            
               </li>


        </ul>
    </div>


</div>